.container{
    display: grid;
    border: 2px solid black;
grid-template-columns: auto auto;
width: 100%;

}
.item{
    border: 2px solid black;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: blue;
}


#parent{
    display: flex;
    flex-direction: row;
}
.child{
    height: 200px;
    width: 200px;
    background-color: blue;
    margin: 10px;
    border-radius: 50%;
}

.gamepage{
    background-color: blue;
    margin-left: 700px;
    color: white;
    font-size: 50px;
}
a{
    color: white;
    text-decoration: none;
}

